<div class="carouselbox active">
  <ol class="content">

    <% _.each(blocks, function(block, key, list) { %>

      <% if (key == 0) { %>
        <li id="block-group<%=key%>" class="<%= currentBlock==key ? 'current' : '' %>">
      <% } else if (key % blocksToDisplay == 0) { %>
        </li><li id="block-group<%=key%>" class="<%= currentBlock==key ? 'current' : '' %>">
      <% };%>

        <img src="<%= block.getRandomImage() %>"
             alt="<%= block.get('title') %>"
             title="<%= block.get('title') %>"
             class="thumbnails">

      <% if (key == blocks.length -1) { %>
        </li>
      <% };%>

    <% });%>

  </ol>
</div>

<div class ="controls">
    <button type="button" class="prev">
      < Prev
    </button>
    <button type="button" class="next">
      Next >
    </button>
</div>

