
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  min-width: 500px;
  width: 95%;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 10px;
}

.controls {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}

.thumbnails {
  width:100px;
  height:100px;
}